.inputborder {
  border: none;
  border-bottom: 1px solid gray;
}

.inputborder:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #22c55e;
}

.menuColor {
  font-size: xx-large;
  font-weight: 700;
  gap: 2rem;
  color: white;
}

.size {
  transition: all 0.3s;
}

.size:hover {
  transform: scale(1.2);
}

.size:active {
  transform: scale(0.8);
}

.animated {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, translate 0.3s;
}

.over:hover .animated {
  opacity: 1;
  visibility: visible;
}